@define-color foreground #eee;
@define-color background #222;

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'Adwaita Sans';
  font-size: 12px;
}

.modules-left {
  margin-left: 11px;
}

.modules-right {
  margin-right: 11px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
  opacity: 0.5;
}

#workspaces button.active {
  opacity: 1.0;
}

#network, #pulseaudio, #bluetooth, #battery {
  min-width: 12px;
  margin:0 6px;
}

tooltip, tooltip * {
  background-color:#222;
  margin:2px;
  padding:0;
}

tooltip {
  border: 1px solid #aaa;
}
